#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$xbxrXwotX9g587/t$71bC4o.qfqeVMUJFKQciGXupypoLp52j1/u7QtcMoG0kormxMa4GjIjdI4TP/W4NMUdpQESsfda/TS0zrzmPY/
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc
user --groups=wheel --name=user1 --password=$6$TvFid9Pl1PQ0igL8$ltwQ4i1KxfVCtQ0vfXzGb0WruMP5v3spsshqrbA/bWFaHF6VHannmCoQlPjw.eJbcOTDyCXHfS97vIM12vMfr. --iscrypted --gecos="user1"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

reboot

%packages
@^minimal
@core
chrony
kexec-tools
openssh-server

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
